:root {
  /* Purest Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Neutral (Grayscale) */
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #e5e5e5;
  --color-neutral-400: #d4d4d4;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;

  /* Primary Colors */
  --color-primary-100: #cbfbed;
  --color-primary-200: #94f7e2;
  --color-primary-300: #5de8d7;
  --color-primary-400: #34d2cc;
  --color-primary-500: #00adb5;
  --color-primary-600: #00879b;
  --color-primary-700: #006682;
  --color-primary-800: #004968;
  --color-primary-900: #003556;

  /* Success Colors */
  --color-success-100: #effbd0;
  --color-success-200: #dbf8a2;
  --color-success-300: #bcea71;
  --color-success-400: #9ad64b;
  --color-success-500: #6ebc1a;
  --color-success-600: #56a113;
  --color-success-700: #40870d;
  --color-success-800: #2d6d08;
  --color-success-900: #205a04;

  /* Info Colors */
  --color-info-100: #d0e9ff;
  --color-info-200: #a1d0ff;
  --color-info-300: #72b3ff;
  --color-info-400: #4e99ff;
  --color-info-500: #146eff;
  --color-info-600: #0e55db;
  --color-info-700: #0a3eb7;
  --color-info-800: #062c93;
  --color-info-900: #031e7a;

  /* Warning Colors */
  --color-warning-100: #fff6cc;
  --color-warning-200: #ffea99;
  --color-warning-300: #ffdc66;
  --color-warning-400: #ffcd3f;
  --color-warning-500: #ffb600;
  --color-warning-600: #db9600;
  --color-warning-700: #b77800;
  --color-warning-800: #935c00;
  --color-warning-900: #7a4800;

  /* Danger Colors */
  --color-danger-100: #ffe5d5;
  --color-danger-200: #ffc5ac;
  --color-danger-300: #ff9d82;
  --color-danger-400: #ff7863;
  --color-danger-500: #ff3a30;
  --color-danger-600: #db2329;
  --color-danger-700: #b7182b;
  --color-danger-800: #930f2a;
  --color-danger-900: #7a0929;
}
