@import url("../utils/colors.css");

:root[data-theme="dark"] {
  /* Background Colors */
  --color-bg-muted: var(--color-neutral-900);
  --color-bg-muted-hover: var(--color-neutral-800);
  --color-bg-strong: var(--color-neutral-700);
  --color-bg-strong-hover: var(--color-neutral-600);
  --color-bg: var(--color-neutral-800);
  --color-bg-hover: var(--color-neutral-700);

  /* Text Colors */
  --color-text-extra-muted: var(--color-neutral-600);
  --color-text-extra-muted-hover: var(--color-neutral-500);
  --color-text-muted: var(--color-neutral-400);
  --color-text-muted-hover: var(--color-neutral-300);
  --color-text: var(--color-neutral-300);
  --color-text-hover: var(--color-neutral-200);
  --color-text-strong: var(--color-neutral-200);
  --color-text-strong-hover: var(--color-neutral-100);

  /* Primary Colors */
  --color-primary-muted: var(--color-primary-600);
  --color-primary-muted-hover: var(--color-primary-500);
  --color-primary: var(--color-primary-500);
  --color-primary-hover: var(--color-primary-400);
  --color-primary-strong: var(--color-primary-400);
  --color-primary-strong-hover: var(--color-primary-300);

  /* Success Colors */
  --color-success-muted: var(--color-success-600);
  --color-success-muted-hover: var(--color-success-500);
  --color-success: var(--color-success-500);
  --color-success-hover: var(--color-success-400);
  --color-success-strong: var(--color-success-400);
  --color-success-strong-hover: var(--color-success-300);

  /* Info Colors */
  --color-info-muted: var(--color-info-600);
  --color-info-muted-hover: var(--color-info-500);
  --color-info: var(--color-info-500);
  --color-info-hover: var(--color-info-400);
  --color-info-strong: var(--color-info-400);
  --color-info-strong-hover: var(--color-info-300);

  /* Warning Colors */
  --color-warning-muted: var(--color-warning-600);
  --color-warning-muted-hover: var(--color-warning-500);
  --color-warning: var(--color-warning-500);
  --color-warning-hover: var(--color-warning-400);
  --color-warning-strong: var(--color-warning-400);
  --color-warning-strong-hover: var(--color-warning-300);

  /* Danger Colors */
  --color-danger-muted: var(--color-danger-600);
  --color-danger-muted-hover: var(--color-danger-500);
  --color-danger: var(--color-danger-500);
  --color-danger-hover: var(--color-danger-400);
  --color-danger-strong: var(--color-danger-400);
  --color-danger-strong-hover: var(--color-danger-300);
}
